def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "output"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    help = false
    version = false
    wfversion = "v0.0.1"

    climb = false
    local = false

    // Add parameters here for your script

    params.output_dir = "${System.getProperty('user.home')}/Downloads/"
    params.script_path = "${workflow.projectDir}/bin"
    params.metadata = "${params.metadata ?: ''}"
    
    validate_params = true
    show_hidden_params = false

    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,wfversion,wf,process_label'

    wf {
      agent = null
      container = "aq-sun/contamination-data"
      container_sha = "sha256:6f08c4c419929666b62e8b0699c588d23c22ebe18803fdcf207f24d6e4c68631"
    }
}